header{
    width: 100%;
    height: 150px;
    background-color: #ffce01;
    display: block;
    float: left;
}

#logo{
    max-width: 120px;
    max-height: auto;
    margin-left: 46%;
    margin-top: -4%;
}

header h1{
    margin-left: 38%;
    margin-top: 2%;
    color: black;
    font-family: space mono;

}


#headercircle{
    display:block;
    border-radius: 200px;
    background-color:#ffce01;
    margin-left: 39%;
    margin-top: -26%;
    height: 300px;
    width: 300px;
}

header ul li{
    list-style-type: none;
    float: left;
    
    margin-top: -5%;
}
main{
    width: 70%;
    height: auto;
    display: block;
    float: left;
    background-color: green;
    padding-top:15px;
}
.img-destaque-home{
    
}
aside{
    width: 30%;
    height: auto;
    display: block;
    float: left;
    background-color: #2400ff;
}
footer{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: gray;
}