header{
    width: 100%;
    height: 150px;
    background-color: #ffce01;
    display: block;
    float: left;
}

#logo{
    max-width: 120px;
    max-height: auto;
    margin-left: 46%;
    margin-top: -4%;
}

header h1{
    margin-left: 38%;
    margin-top: 2%;
    color: black;
    font-family: space mono;

}


#headercircle{
    display:block;
    border-radius: 200px;
    background-color:#ffce01;
    margin-left: 39%;
    margin-top: -26%;
    height: 300px;
    width: 300px;
}

header ul li{
    list-style-type: none;
    float: left;
    
    margin-top: -5%;
}


main{
    width: 70%;
    height: 550px;
    display: block;
    float: left;
    background-color: #eaff00;
}
aside{
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    background-color: #2400ff;
}
footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: #ffce01;
    margin-top: 20%;
}


#footer-logo {
    background-color: red;
}

#footer-img-logo {
    width: 100%;
    height: 100%;
}

#gmap_canvas {
    border-style: solid;
    border-radius: 15px;
}

#footer-redes {
    background-color: blue;
}

