
footer{
    background-color: yellow;
    height: auto;
    float: none;
}
#footer-logo{
    width: 100%;
}
.img-git{
    width: 50px;
}
a:link{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}

@media only screen and (max-width: 750px) { 

    #footer-logo {
        margin-left: 24%;
        width: 40%;
    }
    .conjunto-redes{
        padding-left: 10%;
    }
    #mapa{
        padding-left:110px ;
    }
}


body{
    font-family: space mono;
}

header{
    height: auto;
    background-color: #ffce01;
    font-family: space mono;
    color: black;
}

main{
    width: 70%;
    height: auto;
    display: block;
    float: left;
    background-color: #fdffe9; 
}
aside{
    width: 30%;
    height: auto;
    display: block;
    float: left;
    background-color: #fdffe9;
}
.titulo-destaque-geral{
    background-color: #7000FF;
    color: white;
    width: 42%;
    margin-top: 5%;
    padding-left: 5%;
}

.texto-aside{
    font-size: small;
}
.img-news{
    width: 100%;
    padding-right: 2%;
}
p{
    font-family: numans;
}

.navbar-nav{
    font-size: 25px;
    color: black;
    margin: 0;

}

.nav-link:hover {
    background-color: #7000FF;
    color: white;
    
}

.titulo-noticia{
    font-size: 25px;
    text-align: justify;
    margin-top: 5vh;
    font-weight: bold;
}

.subtitulo-noticia{
    font-size: 17px;
    text-align: justify;
    font-family: numans;
}

.autor-noticia{
    text-align: center;
    font-size: 17px;
    font-family: space mono;
    font-weight: bold;  
    padding-bottom: 2vh;
    color: rgb(0, 0, 0);
    margin-left: 2vh;
} 

.imagem-noticia{
    max-height: 50%;
    overflow: hidden;
    filter: saturate(0);
    
}

.legenda-imagem-noticia{
    font-size: 15px;
    text-align: justify;
    font-family: space mono;
}

.texto-noticia{
    margin-top: 6vh;
    font-size: 17px;
    text-align: justify;
    font-family: numans;
}

.thumb_w_text{
    position: relative;
    
}
h2{
    font-size: small;
}
.manchete{
    font-size: 12px;
}
.dark{
    height: 100%;
    width: 47%;
    background-color:black;
    opacity: 0.65;
    position: absolute;
    top: 0%;
    left: 50%;
    display: block;
}
.text_for_thumb{
    position:absolute;
    display:block;
    top: 20%;
    left: 51%;
    font-size: 12px;
    color: white;
    text-align: justify;
    width: 45%;
    
}
.title_for_thumb{
    position:absolute;
    display:block;
    top: 0%;
    left: 51%;
    font-size: 25px;
    color: white;
    text-align: justify;
    width: 45%;
    
}
.card-title{
    float: right;
}

.subtitulo-noticia-index{
    color: #fdffe9;
}

.card-img-overlay{
    border-radius: 0;
}