footer{
    background-color: yellow;
    height: auto;
}
footer #footer-logo{
    width: 200px;
}
footer .footer-redes{
    width: 100px;
    float: left;
    margin: 10px 10px;
}
@media only screen and (max-width: 600px) { 
    #footer-logo {
        margin-left: 24%;
    }
    #conjunto-redes{
        margin-left: 10%;
    }
}
#mapa{
    margin: 5%;
}