.thumb_w_text{
    position: relative;
    
}
.dark{
    height: 100%;
    width: 47%;
    background-color:black;
    opacity: 0.65;
    position: absolute;
    top: 0%;
    left: 50%;
    display: block;
}
.text_for_thumb{
    position:absolute;
    display:block;
    top: 20%;
    left: 51%;
    font-size: 12px;
    color: white;
    text-align: justify;
    width: 45%;
    
}
.title_for_thumb{
    position:absolute;
    display:block;
    top: 0%;
    left: 51%;
    font-size: 25px;
    color: white;
    text-align: justify;
    width: 45%;
    
}