body{
    font-family: space mono;
}

header{
    height: auto;
    background-color: #ffce01;
    font-family: space mono;
    color: black;
}

.navbar-nav{
    font-size: 25px;
    color: black;
    margin: 0;
}

.nav-link:hover {
    background-color: #7000FF;
    color: white;
    
}